@import '@variables';

.posts-list {
  &-container {
    width: 60%;
    margin-top: 24px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    padding: 30px;
    gap: 15px;
    display: grid;
  }
}

@media (width <= 954px) {
  .posts-list-container {
    width: 90%;
  }
}
