$primary-color: #1445D8;
$primary-color-light: #A7C9FC;
$secondary-color: #0F31AA;
$white: #FFF;
$black: #020616;
$error-color: #BD1212;
$text-color: #656A7C;
$text-color-light: #AFB4C8;
$secondary-text-color: #8A8FA2;
$light-divider-color: #EDEFFA;
